function GameManager.newInstance 0
call GameManager.new 0
pop static 0
push constant 0
return
function GameManager.getInstance 0
push static 0
return
function GameManager.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 0
not
pop this 0
push pointer 0
return
function GameManager.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function GameManager.run 1
push argument 0
pop pointer 0
push constant 0
not
pop this 0
label WHILE_EXP0
push this 0
not
if-goto WHILE_END0
call Screen.clearScreen 0
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function GameManager.stop 0
push argument 0
pop pointer 0
push constant 0
pop this 0
push constant 0
return
function GameManager.drawTestShip 0
push argument 0
pop pointer 0
push constant 0
return
